/* Estilização do topo da página */

.header {
  background-color: #F67A56;
  height: 400px;
}

.header-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.header-nav {
  margin-left: 200px;
}

.header a, .header h1, .nav-separador {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 50px;
  color: #FFFFFF;
}

.header a {
  letter-spacing: 0.1em;
}

.header a:hover {
  color: #334459;
  transition: all 0.4s ease;
}

.nav-separador {
  margin: 5px;
}

.header-logo {
  margin-top: 50px;
}

/* parte responsiva do mobile */

@media only screen and (max-width: 1300px) {
  .header {
    height: 400px;
  }
  .header-container {
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header-logo {
    margin-top: 10px;
  }
  .main-busca {
    max-width: 70%;
    padding: 17px;
    height: 80px;
  }
  .frame-footer {
    height: 18vh;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 400px;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  .header-nav {
    margin: 0;
  }
  .header-logo {
    max-width: 50%;
  }
  .main-busca {
    width: 90%;
  }
  .mensagem a {
    margin: auto 100px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    height: 400px;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 5px;
  }
  .header-nav {
    margin: 0;
  }
  .header-logo {
    max-width: 90%;
  }
  .main-busca {
    max-width: 90%;
    padding: 15px;
    height: 60px;
    top: -30px;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    height: 280px;
  }
  .header-nav {
    font-size: 0.8em;
  }
  .main-busca {
    padding: 10px;
  }
  .main-busca-input {
    letter-spacing: 0;
  }
  .main-busca-input::placeholder {
    font-size: 0.95em;
  }
  .main-busca-botao {
    padding: 10px;
  }
  .header-logo {
    max-width: 50%;
  }
}

@media only screen and (max-width: 325px) {
  .header {
    height: 280px;
  }
}


