<!-- Area sobre do site -->
<div class="estilo-geral">
  <section class="texto-sobre">


      <div class="container-sobre">
          <div class="explicação-proj">
              <h1>Sobre</h1>
              <p>Este trabalho proposto pela cocreare academy é um web site resposivo com integração com
                  rede social.
                  O projeto foi realizado em fases pelo grupo composto por Carlos Alberto, Fabrício, Valéria e Wesley.
                  A primeira fase consistiu na construção da base do código em HTML, depois ele foi estilizado com CSS e por fim,
                  código JavaScript foi utilizado para implementação de responsividade. Cada membro pode ao longo do processo
                  contribuir com seu conhecimento, praticar e desenvolver mais habilidades.
                   </p>
              <!--Explicação do trabalho proposto pela cocreare academy de um web site resposivo com integração com rede social,
              realizado pelo grupo composto por Carlos Alberto, Fabrício, Valéria e Wesley.
              A descrição do projeto será incrementatada conforme o andamento do projeto e novas camadas forem sendo adicionadas.-->
          </div>


          <div class="img-sobre">
              <img src="assets/img/Imagem-7.png">
          </div>
      </div>
  </section>
  <!-- Espaço reservado o bloco de "cards" -->
  <section class= "equipe" id="equipe">
      <h1 class="título"> Nossa Equipe</h1>
      <div class="container">
          <div class="menu" id="menu-perfil">
              <div class="mini-card">
                      <img src="assets/img/benicio.jpg" alt="imagem perfil benicio" class="img-perfil-icone">
                      <p>Benício Gomes</p>
                      <a class="btn" (click) = "escolhePessoa('benicio')">Saiba mais</a>
              </div>

              <div class="mini-card">
                  <div>
                      <img src="assets/img/carlos.jpeg" alt="imagem perfil carlos" class="img-perfil-icone">
                      <p>Carlos Ribeiro</p>
                      <a class="btn" (click) = "escolhePessoa('carlos')">Saiba mais</a>
                  </div>

              </div>

              <div class="mini-card">
                  <div>
                      <img src="assets/img/fabricio.jpeg" alt="imagem perfil fabricio" class="img-perfil-icone">
                      <p>Fabrício</p>
                      <a class="btn" (click) = "escolhePessoa('fabricio')">Saiba mais</a>
                  </div>

              </div>

              <div class="mini-card">
                  <div>
                      <img src="assets/img/valeria.jpg" alt="imagem perfil valeria" class="img-perfil-icone">
                      <p>Valéria Harumi</p>
                      <a class="btn" (click) = "escolhePessoa('valeria')">Saiba mais</a>
                  </div>

              </div>

              <div class="mini-card">
                  <div >
                      <img src="assets/img/wesley.jpeg" alt="imagem perfil wesley" class="img-perfil-icone">
                      <p>Wesley Câmara</p>
                      <a class="btn" (click) = "escolhePessoa('wesley')">Saiba mais</a>
                  </div>

              </div>

          </div>


          <div class="equipe-conteudo" id="equipe_conteudo">

              <div id="benicio" *ngIf = "pessoa == 'benicio' || isMobile == true">
                  <div class="card">
                      <img src="assets/img/background-card.jpg" alt="background card" class="card-img">
                      <img src="assets/img/benicio.jpeg" alt="imagem perfil benicio" class="img-perfil-sobre">
                      <h2>Benício Gomes</h2>
                      <p class="introducao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae assumenda minus quod esse molestias illum.</p>

                      <ul class="redes-sociais">
                          <li><a href="https://github.com/ChernoBeni" target="_blank"><i class="fab fa-github"></i></a></li>
                          <li><a href="mailto:carlinhos.ars@gmail.com"><i class="fas fa-envelope"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/carlos-ribeirosilva/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>

              <div id="carlos">
                  <div class="card" *ngIf = "pessoa == 'carlos' || isMobile == true">
                      <img src="assets/img/background-card.jpg" alt="background card" class="card-img">
                      <img src="assets/img/carlos.jpeg" alt="imagem perfil carlos" class="img-perfil-sobre">
                      <h2>Carlos Ribeiro</h2>
                      <p class="introducao">Olá! Sou desenvolvedor front-end Jr, tenho 25 anos moro em São Paulo capital,
                          sou um apaixonado por tecnologia, fã de cultura pop, games e coisas geek.</p>

                      <ul class="redes-sociais">
                          <li><a href="https://github.com/ribeiro-carlos/" target="_blank"><i class="fab fa-github"></i></a></li>
                          <li><a href="mailto:carlinhos.ars@gmail.com"><i class="fas fa-envelope"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/carlos-ribeirosilva/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>

              <div id="fabricio" *ngIf = "pessoa == 'fabricio' || isMobile == true">
                  <div class="card">
                      <img src="assets/img/background-card.jpg" alt="background card" class="card-img">
                      <img src="assets/img/fabricio.jpeg" alt="imagem perfil fabricio" class="img-perfil-sobre">
                      <h2>Fabrício</h2>
                      <p class="introducao">Sou Fabrício, desenvolvedor front-end Jr, tenho 24 anos moro na capital de São Paulo,
                          sou amante de música, tecnologia e futebol.</p>

                      <ul class="redes-sociais">
                          <li><a href="https://github.com/Fabricio-alt" target="_blank"><i class="fab fa-github"></i></a></li>
                          <li><a href="mailto:santocardoso370@gmail.com"><i class="fas fa-envelope"></i></a></li>
                          <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>

              <div id="valeria" *ngIf = "pessoa == 'valeria' || isMobile == true">
                  <div class="card">
                      <img src="assets/img/background-card.jpg" alt="background card" class="card-img">
                      <img src="assets/img/valeria.jpg" alt="imagem perfil valeria" class="img-perfil-sobre">
                      <h2>Valéria Harumi</h2>
                      <p class="introducao">Oi! Sou Valéria, desenvolvedora front-end, natural de Londrina-PR, 25 anos.
                          Amo música leste-asiática, viagens e sou desenhista no tempo livre.</p>

                      <ul class="redes-sociais">
                          <li><a href="https://github.com/valeriaharumi" target="_blank"><i class="fab fa-github"></i></a></li>
                          <li><a href="mailto:haruumi.nishimura@gmail.com"><i class="fas fa-envelope"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/val%C3%A9ria-harumi-nishimura-1574191a2/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>

              <div id="wesley"  *ngIf = "pessoa == 'wesley' || isMobile == true">
                  <div class="card">
                      <img src="assets/img/background-card.jpg" alt="background card" class="card-img">
                      <img src="assets/img/wesley.jpeg" alt="imagem perfil wesley" class="img-perfil-sobre">
                      <h2>Wesley Câmara</h2>
                      <p class="introducao">Sou Wesley, desenvolvedor front-end, fã de senhor dos anéis (principalmente dos livros) e moro em Santo André</p>

                      <ul class="redes-sociais">
                          <li><a href="https://github.com/WesleyCamara" target="_blank"><i class="fab fa-github"></i></a></li>
                          <li><a href="mailto:wesleycamara@hotmail.com.br"><i class="fas fa-envelope"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/wesleycamara" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </section>

</div>
