/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}


/* fonte padrão: font-family: 'Nunito', sans-serif;

Cores:
Destaque #F67A56 (header, botoes e detalhes pontuais)
Base #FFF7E8 (blocos e contornos),
Textos claros #FFFFFF,
Textos escuros e rodapé #334459
*/

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FFFFFF;
}


/* Animação do carousel--------------------------------------------------------------------- */

ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}

.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}
