<main>
  <!-- Caixa de busca -->
  <form class="main-busca" id="busca" (submit)="pesquisar($event)">
    <input type="text" id="input-busca" class="main-busca-input" placeholder="Digite o termo para pesquisa" autofocus
      #conteudoInput (keyup)="removeMensagemErro()" />
    <button type="submit" class="main-busca-botao">
      <i class="fas fa-search" id="img-busca"></i>
    </button>
  </form>


  <!-- Mensagem de erro, parece quando não é feita a pesquisa sem conteudo -->
  <div class="mensagem-erro" *ngIf="erroAtivo">
    <p>Digite um texto para pesquisa</p>
  </div>

  <!-- Mensagem inicial, fica visível antes do conteudo ser pesquisado -->
  <div class="main-inicio-backgound" *ngIf="telaInicial">
    <i class="fas fa-arrow-up"></i>
    <p>Pesquise algo interessante</p>
    <p>Ainda não temos nada para mostrar...</p>
  </div>


  <!--Área de visualização das 10 ultimas postagens-->
  <section class="media-posts-container" *ngIf="tweetTexto">
    <div class="media-post" *ngFor='let item of tweetTexto'>
      <div class="media-info">

        <div class="media-post-info">
        <div class="img-perfil">
          <img src={{item.user.profile_image_url_https}} alt="Imagem de Perfil {{ item.user.name }} "
            class="post-imagem-perfil">
        </div>

        <div class="info-usuario">
          <h3 class="perfil-usuario">{{ item.user.name }}</h3>
          <p class="id-usuario">@{{item.user.screen_name}}</p>
          <p class="data-usuario">{{ item.created_at | date: 'MMM yy' }}</p>
        </div>
      </div>

        <div class="media-mensagem">
          <p class="mensagem">{{ item.text }}</p>

          <!-- Tag para colocar a imagem no post------------------------------------------------------------------------------------------------------------
          <div *ngIf="item.extended_entities">
            <img src={{item.extended_entities.media[0].media_url}} alt="Imagem de Perfil 1">
          </div> -->

          <a class="link" target="_blank"
            [href]="'https://twitter.com/' + item.user.screen_name + '/status/' + item.id_str">Visualizar mais no
            Twitter
          </a>
        </div>

      </div>
    </div>
  </section>
  <!--Fim da Publicação post -->


  <!-- Slider com as ultimas 10 imagens -->
  <ng-image-slider [images]="imageObject" #nav *ngIf="tweetImagem" class="slider"></ng-image-slider>


</main>
