.main-busca {
  background: #FFFFFF;
  width: 58%;
  margin: 0 auto;
  display: flex;
  height: 90px;
  padding: 25px 37px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 48px;
  position: relative;
  top: -45px;
  z-index: 50;
}

.main-busca-input {
  flex: 9;
  border: none;
  color: #334459;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.main-busca-input::placeholder {
  color: #D6D6D6;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.main-busca-botao {
  flex: 2;
  background: #F67A56;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 23px;
  padding-top: 5px;
}

.main-busca-botao:hover {
  background: #334459;
  transition: all 0.4s ease;
}

button:focus, button:active {
  outline: none;
}

.fa-search {
  color: #FFFFFF;
  font-size: 1.25em;
}

/* ----------------------------------------------------------------------------------------------------------
Mensagem de erro que aparecerá quando o usuário tentar pesquisar sem digitar texto
------------------------------------------------------------------------------------------------------------- */

.mensagem-erro {
  display: block;
  background: #F8D7DA;
  max-width: 58%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  line-height: 2em;
  text-align: center;
  font-size: 1.25em;
  color: #721c24;
  border: #f5c6cb 1px solid;
  border-radius: 10px;
  margin-top: -30px;
}

@media only screen and (max-width: 430px) {
  .mensagem-erro {
    max-width: 95%;
    font-size: 1em;
    margin-top: -15px;
    margin-bottom: 15px;
  }
}

/* ----------------------------------------------------------------------------------------------------------
/* Estilização da area de mensagens e imagens */

/*------------------------------------------------------------------------------------------------------------- */

.main-inicio-backgound {
  margin: 0 auto;
  max-width: 90%;
  height: 50vh;
  text-align: center;
  color: #334459;
  margin-top: 100px;
}

.fa-arrow-up {
  font-size: 3em;
  color: #F67A56;
}

.main-inicio-backgound p {
  font-size: 1.75em;
  color: #334459;
  line-height: 5em;
}

.main-inicio-loading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.main-inicio-loading img{
  margin-top: 30px;
}



.media-posts-container {
  margin-bottom: 100px;
}

.media-post-info {
  display: flex;
}

.media-post {
  display: flex;
  flex-wrap: wrap;
  max-width: 752px;
  max-height: 100%;
  border: 1px solid #E8EEF1;
  margin: 1.125em auto;
  min-width: 260px;
}

.perfil-usuario {
  font-size: 1.25em;
}

.media-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 15px;
}

.img-perfil {
  max-width: 64px;
  margin: 5px;
}

.img-perfil img {
  border-radius: 50%;
}

.info-usuario, .info-usuario h3 {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0 5px;
}

.info-usuario p {
  margin: 0 2px;
  color: #75889D;
  font-size: 1.125em;
}

.media-img {
  display: initial;
  margin: 5px auto 30px auto;
  max-width: 647px;
}

.media-post a {
  text-decoration: none;
  font-size: 1.125em;
  color: blue;
}

.mensagem {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .media-mensagem {
    margin-left: 70px;
    margin-right: 35.5px;
    margin-bottom: 15px;
    ;
  }
}

.media-mensagem a:hover {
  color: rgb(62, 109, 252);
  transition: all .3s;
}

.media-img a:hover {
  color: rgb(62, 109, 252);
  transition: all .3s;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.gallery img {
  max-width: 150px;
  padding: 5px;
  transition: 1s;
}

.gallery img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1300px) {
  .main-busca {
    max-width: 70%;
    padding: 17px;
    height: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .main-busca {
    width: 90%;
  }
  .media-mensagem {
    margin-left: 15px;
  }
  .mensagem a {
    margin: auto 100px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  .gallery img {
    max-width: 120px;
  }
  .main-inicio-backgound p {
    line-height: 2.25em;
  }
}

@media only screen and (max-width: 425px) {
  .main-busca {
    max-width: 90%;
    padding: 15px;
    height: 60px;
    top: -30px;
  }
}

@media only screen and (max-width: 375px) {
  .main-busca {
    padding: 10px;
  }
  .main-busca-input {
    letter-spacing: 0;
  }
  .main-busca-input::placeholder {
    font-size: 0.95em;
  }
  .main-busca-botao {
    padding: 10px;
  }
}

@media only screen and (max-width: 325px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    height: 280px;
  }
  .main-inicio-backgound {
    margin-top: 50px
  }
  .main-busca {
    max-width: 100%;
    width: 100%;
  }
}
